---
interface Props {
  items: { name: string; url: string }[];
}

const { items } = Astro.props;
---

<nav class="breadcrumbs" aria-label="Fil d'Ariane">
  <ol>
    <li><a href="/">Accueil</a></li>
    {items.map((item, index) => (
      <li>
        {index === items.length - 1 ? (
          <span aria-current="page">{item.name}</span>
        ) : (
          <a href={item.url}>{item.name}</a>
        )}
      </li>
    ))}
  </ol>
</nav>
